@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800;900&family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');

/* default format */
:root{
  --logo-font: 'Reem Kufi Fun', sans-serif;
  --max-width: 1200px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb {
  background: #000;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover { background: #fff; }

html,
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

img{
  width: 100%;
  display: flex;
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 1rem; }

.text-center{ text-align: center; }

.flex-column{ flex-direction: column; }
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section{
  position: relative;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.section_container{
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
}

.section-header{
  font-size: 3rem;
  max-width: 750px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.section-subheader{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-heading.left{ margin-right: auto; }
.section-heading.right{ margin-left: auto; }

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* nav starts here */
header{
  background-image: linear-gradient(to bottom, rgba(255, 88, 87, 0.8), rgba(240, 152, 25, 0.9)), url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo{ flex: 1; }
.nav_logo a{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--logo-font);
  text-decoration: none;
  color: #000;
}

.nav_links{
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  position: relative;
  padding: 10px 0;
  color: #000;
  transition: all 0.3s;
  text-decoration: none;
}
.link a::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #000;
  transition: all 0.3s;
}
.link a:hover::after{ width: 100%; }

.nav_menu_btn{
  display: none;
  font-size: 1.5rem;
  color: black;
}

.nav_action{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.nav_action span{
  font-size: 1rem;
  cursor: pointer;
}

.header_container{ text-align: center; }
.header_container h1{
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}
.header_container p{
  max-width: 690px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.header_container a{
  outline: none;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  background: transparent;
  border: 2px double white;
  color: black;
  margin: 50px auto;
  transition: 0.5s ease;
}

.about:hover{ background: white; }
/* nav ends here */

/* login starts here */

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}

.login-container.active{ right:0; }

.login-container form{
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 40rem;
  padding: 2rem;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 2rem;
}

.login-container form h3{
  font-size: 2.5rem;
  color: #000;
  text-align: center;
}

.login-container form span{
  display: block;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.login-container form .box{
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  outline: none;
  border: 1px solid #ffdbcc;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: #555;
}

.login input{
  width: 100%;
  outline: none;
  font-size: 1.7rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  background: #ff968a;
  border: none;
  color: black;
  margin: 1.5rem 0;
  transition: 0.5s ease;
  cursor: pointer;
}
.login:hover{ background: #ffaea5; }

.login-container #close-btn{
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

/* login ends here */

/* about starts here */
.features{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.feature{
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #000;
}
.feature_icon{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #8c0d07;
}
.feature_title{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* about ends here */

/* datasets starts here */

#datasets{
  background: linear-gradient(to bottom, rgba(240, 152, 25, 0.9),rgba(255, 255, 110, 0.2));
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.datasets{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.dataset{
  display: flex;
  gap: 10%;
  align-items: center;
}
.dataset:nth-child(2){ flex-direction: row-reverse; }

.dataset_category{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.dataset_title{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.dataset p{
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 700;
}
.dataset span{
  color: #8c0d07;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.dataset_img{ min-width: 25%; }
.dataset_img img{
  border-radius: 10%;
  border: none;
}

.btn a{
  margin-top: 1rem;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
  background: transparent;
  border: 2px double #000;
  transition: 0.5s ease;
}
.read{
  text-decoration: none;
  color: #000;
}
.read:hover{
  background: #000;
  color: white;
}

/* datasets ends here */

/* contacts starts here */
#contact{
  background: rgba(255, 255, 110, 0.2);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts{
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.contact_img{
  width: 120px;
  height: auto;
  margin: 0 auto;
}
.contact_img img{
  border-radius: 100%;
  border: 1px solid black;
}

.contact_info{
  font-weight: bold;
  margin-top: 0.5rem;
}
.contact_info span{
  text-transform: uppercase;
  font-size: 13px;
}

.social_menu ul{
  position: relative;
  margin-top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.social_menu ul li{
  list-style: none;
  margin: 0 30px;
}

.social_menu ul li .fa-brands{
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #fff;
}

.social_menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.social_menu ul li a:hover{ transform: translate(0, -10px); }
.social_menu ul li:nth-child(1) a{ background: #620296; }
.social_menu ul li:nth-child(2) a{ background: #1877F2; }
.social_menu ul li:nth-child(3) a{ background: #0A66C2; }

/* contacts ends here */

/* footer starts here */
footer{
  padding-top: 2rem;
  background: rgba(255, 255, 110, 0.2);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_content{
  display: grid;
  gap: 5rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer_logo a{
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--logo-font);
  text-decoration: none;
  color: #000;
  margin-bottom: 5rem;
}

.footer_text{
  /* max-width: 240px; */
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1rem;
}

.footer_menu-list{
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
}
.footer_menu-list li{ list-style: none; }
.footer_menu-list a{ text-decoration: none; color: #000;}

.footer_bottom{
  padding: 1rem 0;
  border-top: 0.8px solid #747474;
  font-weight: 700;
  background: white;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #000;
}

/* footer ends here */

/* resolution area */
@media screen and (max-width: 768px) {

  .container{ padding: 0 1rem; }

  section{
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }

  .section-header{ font-size: 2rem; }
}
