@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800;900&family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');

/* default format */
:root{
  --logo-font: 'Reem Kufi Fun', sans-serif;
  --max-width: 1200px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb {
  background: #000;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover { background: #fff; }

html,
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: wheat;
}

img{
  width: 100%;
  display: flex;
}

.text-center{ text-align: center; }

.flex-column{ flex-direction: column; }
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* nav starts here */
header{
  background-image: linear-gradient(to bottom, rgba(189, 189, 189, 0.1), rgba(0, 0, 0, 0.9)), url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  height: 50vh;
}

nav{
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo{ flex: 1; }
.nav_logo a{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--logo-font);
  text-decoration: none;
  color: #000;
}

.nav_links{
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  position: relative;
  padding: 10px 0;
  color: #000;
  transition: all 0.3s;
  text-decoration: none;
}
.link a::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #000;
  transition: all 0.3s;
}
.link a:hover::after{ width: 100%; }

.nav_action{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.nav_action a{
  font-size: 1rem;
  cursor: pointer;
}

.hero_section{
  padding: 10px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.hero_section .acc_details{
  display: flex;
  align-items: center;
}

.acc_details img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.acc_txt h3{ font-weight: bold; }
.acc_txt h5{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

/* nav ends here */

/* box starts here */

.card_wrap{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;
  align-items: center;
}

.col-6 .card{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.card .info{
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card .info i{
  padding: 20px 30px;
  color: #fff;
  background: #56070c;
  border-radius: 50%;
  font-size: 3rem;
}

.card .details{
  padding: 10px;
}

.card .details h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.card .details span{
  font-size: 14px;
  font-weight: 700;
}

/* box ends here */

/* table starts here */

.body_section{
  margin-top: 4rem;
  padding: 20px;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.col-12{ 
  padding: 10px;
  border-radius: 10px;
}

.table_wrap{
  padding: 30px;
  background: #fff;
  border-radius:10px;
}

th,
td{
  font-size: 12px;
}

/* table ends here */
